@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Reset de propriedades */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: grey;
    background-color: #edeced;
}

.container-grid {
    width: 80%;
    max-width: 1000px;  /* limite máximo de largura*/
    min-width: 992px;   /* limite mínimo de largura*/
    margin:  auto;     /* limite automático de  margem*/
}

header .header-flex { 
    display: flex;
    justify-content: space-between;
}
header {
    background-color: black;
}

header h1 {
    color: white;
    font-weight: 300;
}

header h1 #logoux {
    font-style: italic;
    font-weight: 600;
}

header nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header nav a {
    color: white;
    text-decoration: none;
}

/* MAIN */

 main .colunas-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* section com a class coluna1 */
main .coluna1{
    width: 75%;
    background-color: white;
    
}
main .coluna1 h2{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

main .coluna1 p{
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */

    margin: 0 20px 20px 20px;
    
    line-height: 20px;
}

main .coluna1 #Img{
    width: 100%;
}

/* aside com a class coluna2 */
main .coluna2{
    width: 20%;
    
}
main .coluna2 article{
    background-color: white;
    margin-bottom: 20px;
}

main #In h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;

    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #EFEFEF;
}

main #In p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 20px;
}

main #In input {
    display: flex;
    width: 75%;
    height: 30px;
    border: 2px solid #EFEFEF;
    margin: 0 auto;
}



/* Footer */

footer{
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    
    /* padding: 0; top right bottom left */
    /* padding: 0 20px; top\bottom right/left */
    /* padding: 0 20px 40; top right/left bottom */
    
    background-color: black;
    color: white;
}